
		
 		 
.ul-header-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: verdana;
}

.li-header-menu {
  float: left;
}

.a-header-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li-header-menu a:hover {
  background-color: #111;
}

.active {
  background-color: var(--AKDGBlue);
  border-radius: 1.0pt;
}

.rounded-rect {
	  /* Add the blur effect */
/*
  filter: blur(8px);
  -webkit-filter: blur(8px);
*/	
	padding-left: 40pt;
	padding-right: 40pt;
	background-color: transparent;
	font-family: verdana;
	color: var(--AKDGBlue); 
	font-weight: bold;
	font-size: 200%;
	text-decoration: none;
/* 	margin: 0 auto; */
	text-align: center;

}

a[href*="https://forms.gle/ELNnrrFFsBY265VS9"] {
	border-radius: 20pt;
	border: 2pt solid var(--AKDGBlue);
	padding: 8pt;

	/*centering*/
	margin-left: 40%;
	margin-right: 40%;
	justify-content: center; 
	display: block;
 }

.body-div {
	padding-top: 18px;
}

.row {
	display: flex; /*equal height of the children*/
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.col {
	flex: 1;
	padding: 1em;
	border: solid;
	min-height: 100%;	
}

div.floatleft {
	float:left;
}

div.floatRight {
	float:right;
}

div.centered {
	text-align: center;
	list-style-position:inside;
	margin-left: auto;
	margin-right: auto;
}
.event-year-div {
	border-width: 1pt;
	border-color: var(--AKDGSand);
	background-color: green
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://www.aucklanddiscgolf.com/hendoOldBasketHeader.jpg");

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--AKDGBlue);
}


h1 {
  color: var(--AKDGBlue);
  font-family: verdana;
  font-size: 300%;
  text-align: center;
  text-shadow: 1px 3px 0.5px rgba(44, 49, 50, 0.81);
}

h2 {
	color: var(--AKDGGreyerBlue);
	font-family: verdana;
	font-size: 200%;
	text-align: center;
	text-shadow: 1px 3px 0.5px rgba(44, 49, 50, 0.41);
}
p {
  color: var(--AKDGPurleBlack);/*var(--AKDGTextGrey);*/
  font-family: verdana;
}
.centered160 {
	font-size: 160%;
  text-align: center;
}

/* mouse over link */
a:hover {
  color: hotpink;
  background-color: gray;
}

.div-padd{
	display: inline-block;
	background-color: var(--AKDGBabyBlue);
	border-radius: 8.0pt;
	text-align: center;
	border-width: 2.0pt;
	border-color:var(--AKDGGreyerBlue); 
	
	padding-top: 5pt;
	padding-right:10pt;
	padding-bottom: 5pt;
	padding-left: 10pt;
	
}

body {background-color: var(--AKDGWarmWhite);}

:root {
	--AKDGBlue: #009cd4;
	--AKDGGreyerBlue: #486183;
	--AKDGLBlue: #88a2bc;
	--AKDGSand: #f0dbb0;
	--AKDGWarmWhite: #fff8f8;/*#efe8e9;*/
	--AKDGPurleBlack: #160428;

	--AKDGBabyBlue: #c1d3e3;
    --AKDGTextGrey: #948dad;
    
}
